@font-face {
    font-family: 'freshmannormal';
    src: url('font/freshman-webfont.woff2') format('woff2'),
        url('font/Freshman-webfont.ttf') format('ttf'),
        url('font/freshman-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

h1,
h2 {
    font-family: 'freshmannormal' !important;
}

header {
    background: #031c39d1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.banner-area {
    background: url(../images/banner.png);
}

.top-header {
    border-bottom: 1px solid #316091;
}

ul.social-ul-top {
    padding-left: 0px;
    margin-top: 15px;
}

ul.social-ul-top li {
    color: #1be500;
    display: inline;
    padding-right: 30px;
    text-transform: capitalize;
}

ul.social-ul-top li a {
    color: #1be500;
    text-decoration: none;
}

ul.wish-ul {
    padding-left: 0px;
    margin-top: 15px;
}

ul.wish-ul li {
    color: #1be500;
    display: inline;
    padding-right: 25px;
    text-transform: capitalize;
}

ul.wish-ul li a {
    color: #1be500;
    text-decoration: none;
}

ul.main-nav-ul li {
    display: inline-block;
    color: #fff !important;
    vertical-align: middle;
}

ul.main-nav-ul li a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
    display: block;
    line-height: normal;
}

ul.main-nav-ul {
    margin-top: 30px;
    text-align: right;
}

.main-header {
    padding: 20px;
}

.banner-content-area {
    padding: 260px 0 120px 0;
    text-align: center;
}

.banner-content-area h2 {
    color: #fff;
    font-size: 70px;
}

.banner-content-area h5 {
    color: #fff;
    font-size: 30px;
    letter-spacing: 1px;
    padding-bottom: 20px !important;
}

.banner-content-area a {
    background: #2e3292;
    padding: 15px 90px;
    color: #fff;
    font-size: 18px;
    letter-spacing: 1px;
    border-radius: 5px;
}

section.form-area input[type=text], section.form-area input[type=number] {
    height: 40px;
    border-radius: 7px;
    border: none;
    padding-left: 30px;
    display: inline-block;
}

section.form-area select {
    width: 20%;
    height: 40px;
    border-radius: 7px;
    display: inline-block;
}

section.form-area input[type=submit] {
    width: 18%;
    height: 40px;
    background: #1be500;
    border-radius: 7px;
    border: none;
    font-weight: 700;
    color: #000;
    text-transform: capitalize;
    display: inline-block;
}


section.form-area input[type=text] {
    width: 30%;
}

section.form-area input[type=number] {
    width: 15%;
}


section.form-area {
    padding: 30px 0px;
    background: #000000;
}

.banner-content-area a:hover {
    text-decoration: none;
    background: #000;
    transition: 0.5s;
    color: #fff;
}

section.about-sec .col-md-6 {
    padding-left: 0px;
    overflow: hidden;
    padding-right: 0px;
}

section.about-sec .col-md-6 img {
    width: 100%;
}

.col-md-6.about-right {
    background: #087c00;
    padding: 100px !important;
    height: 528px;
}

.col-md-6.about-right h2 {
    color: #fff;
    font-size: 35px;
}

.col-md-6.about-right p {
    color: #fff;
    line-height: 30px;
    font-size: 14px;
    padding-bottom: 20px;
    width: 80%;
}

.col-md-6.about-right a {
    background: #0a2948;
    padding: 15px 40px;
    border-radius: 3px;
    color: #fff;
}

section.about-sec {
    overflow: hidden;
}

section.banner-area {
    overflow: hidden;
}

section.form-area {
    overflow: hidden;
}

section.featured {
    overflow: hidden;
    padding-top: 80px;
    padding-bottom: 80px;
}

section.featured h3 {
    color: #2e3292;
    text-align: center;
    font-weight: 700;
    font-size: 35px;
    padding-bottom: 80px;
    position: relative;
}

section.featured h3:after {
    content: "";
    height: 6px;
    width: 180px;
    position: absolute;
    background: #087c00;
    margin: 0 auto;
    display: block;
    left: 0px;
    right: 0px;
    top: 60px;
}

.featured p {
    background: #006711;
    padding: 20px;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
}

.featured .col-md-3 {
    padding-left: 10px;
    padding-right: 10px;
}

.see-btn {
    float: right;
    margin-right: 20px;
    padding-top: 20px;
}

.see-btn a {
    color: #000;
    font-size: 16px;
}

section.numbers-area {
    background: url(../images/home-sec4-bg.png);
    padding-top: 80px;
    padding-bottom: 80px;
}

section.numbers-area h3 {
    color: #fff;
    font-size: 60px;
    font-weight: 600;
    text-align: center;
}

section.numbers-area p {
    color: #fff;
    font-size: 24px;
    text-align: center;
}

.col-md-6.post-ad-left {
    background: #006711;
    padding-left: 0px;
    padding-right: 0px;
}

.col-md-6.post-ad-left h3 {
    color: #fff;
    padding-left: 35px;
    border-bottom: 1px solid #fff;
    line-height: 70px;
    font-size: 40px;
    font-weight: 700;
}

.col-md-6.post-ad-left p {
    color: #fff;
    padding: 40px;
    font-size: 16px;
}

.col-md-6.post-ad-left a {
    margin: 0 auto;
    display: block;
    text-align: center;
    padding: 25px;
    margin-bottom: 40px !important;
    width: 85%;
    background: #f5e700;
    border-radius: 7px;
    font-size: 20px;
    color: #000;
    font-weight: 700;
}

section.post-ad-sec {
    padding-top: 120px;
    padding-bottom: 120px;
}

.col-md-6.post-ad-right {
    background: #ededed;
}


.col-md-6.post-ad-right h4 {
    padding: 20px;
    color: #022e5e;
    font-size: 26px;
    font-weight: 700;
    padding-left: 35px;
}

.col-md-6.post-ad-right ul li {
    display: inline;
    background: #727272;
    padding: 15px 41px;
    line-height: 60px;
    border-radius: 7px;
    color: #fff;
}

.col-md-6.post-ad-right ul {
    padding-left: 35px;
    margin-bottom: 49px;
}

.post-ad-right a {
    margin-left: 37px;
    color: #434343;
    position: relative;
    top: -10px
}

.post-ad-sec .col-md-6 {
    width: 48%;
    margin: 10px !important;
}


/*carousel-wrap*/
/*.carousel-wrap {
  margin: 90px auto;
  padding: 0 5%;
  width: 80%;
  position: relative;
}


.owl-carousel .item {
  position: relative;
  z-index: 100; 
  -webkit-backface-visibility: hidden; 
}


.owl-nav > div {
  margin-top: -26px;
  position: absolute;
  top: 50%;
  color: #cdcbcd;
}

.owl-nav i {
  font-size: 52px;
}

.owl-nav .owl-prev {
  left: -30px;
}

.owl-nav .owl-next {
  right: -30px;
}*/
/*carousel end*/


section.newsletter-area {
    background: url(../images/sec6-bg.png);
    padding-top: 80px;
    padding-bottom: 80px;
}

section.newsletter-area p {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    padding-left: 15px;
    margin-bottom: 0px;
}

section.newsletter-area h3 {
    color: #fff;
    font-size: 50px;
    margin-top: 0px;
    font-weight: 900;
}

.newsletter-area input[type="email"] {
    width: 70%;
    border-radius: 5px;
    height: 45px;
    border: none;
}

.newsletter-area input[type="submit"] {
    height: 45px;
    border: none;
    position: relative;
    width: 29%;
    left: -20px;
    border-radius: 3px;
    background: #2e3292;
    color: #fff;
    font-size: 16px;
}

.col-md-6.testi-bg {
    background: url(../images/testimonial-bg.png);
    background-size: 100% 100%;
    padding: 50px;
    width: 42%;
    margin: 40px;
}

section.testimonial {
    padding-top: 50px;
    padding-bottom: 50px !important;
    background: #e5e5e52e;
}

.col-md-6.testi-bg img {
    position: absolute;
    left: -50px;
    width: 100px;
    top: 70px;
}

.col-md-6.testi-bg p {
    line-height: 35px;
    color: #828892;
    font-weight: 700;
    padding-left: 30px;
}

.testimonial h3:after {
    content: "";
    height: 6px;
    width: 180px;
    position: absolute;
    background: #087c00;
    margin: 0 auto;
    display: block;
    left: 0px;
    right: 0px;
    top: 60px;
}

.testimonial h3 {
    color: #2e3292;
    text-align: center;
    font-weight: 700;
    font-size: 35px;
    padding-bottom: 80px;
    position: relative;
}

section.news-section {
    background: url(../images/home-sec7-bg.png);
    padding-top: 80px;
}

section.news-section h5 {
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
}

section.news-section h3 {
    text-align: center;
    font-size: 35px;
    color: #fff;
    font-weight: 900;
    margin-top: 0px;
}

.news-section p {
    text-align: center;
    color: #fff;
    padding-bottom: 50px;
}

.blog-text-area {
    width: 90%;
    /* border: 1px solid; */
    border-radius: 4px;
    position: relative;
    top: -60px;
    background: #fff;
}

.blog-text-area ul li {
    display: inline;
    padding: 10px;
}

.blog-text-area ul {
    padding-left: 0px;
    color: #616161;
    padding-top: 10px;
}

.blog-text-area .col-md-2 {
    background: #272a80;
    color: #fff;
    position: relative;
    left: 2px;
    border-radius: 0px 4px 0px 4px;
}

.blog-text-area h4 {
    font-size: 24px;
    width: 88%;
    padding: 20px;
    color: #161c26;
    font-weight: 600;
    line-height: 30px;
}

.blog-text-area p {
    color: #828892;
    margin: 0 auto;
    padding-left: 0px;
    width: 80%;
    font-size: 16px;
    line-height: 30px;
    padding-bottom: 20px;
}



.col-md-4:nth-child(2) .col-md-2 {
    background: #0dad00 !important;
}

.blog-text-area:hover {
    box-shadow: 1px 10px 14px -4px #0000008c;
    transition: 0.5s;
}

section.blog-area {
    padding-bottom: 80px;
}

footer {
    background: #00034a;
    padding-top: 100px;
    padding-bottom: 120px;
}

footer h4 {
    color: #fff;
}

footer ul {
    padding-left: 0px;
}

footer ul li,
footer ul li a {
    list-style: none;
    color: #fff;
    line-height: 30px;
}

footer ul li a:hover,
footer ul li a:focus {
    color: #fff;
    text-decoration: none;
}

ul.quick-ul {
    column-count: 2;
    padding-bottom: 50px;
}

ul.footer-social li {
    display: inline;
    padding: 3px;
}

ul.footer-social li i {
    background: #fff;
    padding: 8px;
    color: #00034a;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}



section.copyright {
    border-top: 1px solid #639c00;
    overflow: hidden;
    width: 100%;
    padding-top: 20px;
}

ul.foot-ul li {
    display: inline;
    padding: 10px;
}

ul.foot-ul {
    width: 50%;
    float: right;
}

section.copyright p {
    color: #fff;
}

ul.social-ul-top i {
    margin-right: 5px;
}

ul.main-nav-ul li:last-child, ul.main-nav-ul li:nth-last-child(2) {
    background: #2e3292;
    padding: 8px 20px;
    border-radius: 5px;
    text-transform: uppercase;
}

ul.main-nav-ul li:last-child:hover, ul.main-nav-ul li:nth-last-child(2):hover {
    background-color: #000000;
    transition: 0.3s;
}

ul.main-nav-ul li:not(:last-child) {
    margin-right: 10px;
}

ul.main-nav-ul li:nth-last-child(2) {
    margin-left: 25px;
}

section.form-area input[type=submit]:hover {
    background: #000;
    transition: 0.5s;
    color: #fff;
    border: 1px solid #fff;
}

.col-md-6.about-right a:hover {
    background: #000;
    transition: 0.5s;
    text-decoration: none;
}

.col-md-6.post-ad-left a:hover {
    background: #000;
    transition: 0.5s;
    color: #fff;
    text-decoration: none;
}

.col-md-2.browse-box {
    height: 180px;
    padding: 20px;
    width: 15%;
    margin: 8px;
    text-align: center;
    box-shadow: 1px 2px 16px 1px #00000045;
}

section.browse-categories {
    text-align: center;
    padding-bottom: 80px;
}

.browse-categories h3:after {
    content: "";
    height: 6px;
    width: 180px;
    position: absolute;
    background: #087c00;
    margin: 0 auto;
    display: block;
    left: 0px;
    right: 0px;
    top: 60px;
}

.browse-categories h3 {
    color: #2e3292;
    text-align: center;
    font-weight: 700;
    font-size: 35px;
    padding-bottom: 80px;
    position: relative;
}

.browse-categories img {
    height: 80px;
    margin-top: 10px;
}

.browse-categories h4 {
    color: #0056a7;
    font-weight: 500;
}

.col-md-2.browse-box:hover {
    margin-top: -20px;
    transition: 0.5s;
}

section.featured .col-md-3:hover img {
    filter: grayscale(1);
    transition: 0.5s;
}

.featured .col-md-3:hover p {
    background: #000;
    transition: 0.5s;
}

.newsletter-area input[type="submit"]:hover {
    background: #000;
    transition: 0.5s;
}

section.about-sec {
    background-color: #087c00;
}